extends ./layout.jade
block headerPage

			div.container
				div.jumbotron
					div.jumbotron
						h1 Acerca de Localisong
						p Este es un proyecto que te ubica en el mapa y te lo muestra, ademas de mostar la cancion mas popular en tu pais(en proceso) by Wildin Mota.
						p Si quieres que desarrollomos todo por completo siguenos en nuestra cuenta de GitHub en ModifyIT Labs.